.app-header {
    display: flex;
    justify-content: flex-end;
    padding: 20px 60px;
}

.main-nav {
    display: flex;
    gap: 33px;
}

.main-nav a {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    transition: color 0.2s;
}

.main-nav a:hover {
    color: var(--primary-color);
}

.main-nav a.active-link {
    color: var(--primary-color);
    font-weight: 700;
}