@if (work) {
  <div class="container narrow-container">
    <h1>{{ work.full_title }}</h1>
    <div class="work-meta-detail">
      <span class="year-badge red">{{ work.year }}</span>
      <span>{{ work.tags.join(', ') }}</span>
    </div>
    <p>{{ work.text }}</p>
    @for (item of work.content; track item) {
      <div class="content-block">
        @switch (item[0]) {
          @case ('h1') {
            <h1>{{ item[1] }}</h1>
          }
          @case ('h2') {
            <h2>{{ item[1] }}</h2>
          }
          @case ('img') {
            <img [src]="item[1]" alt="{{ work.title }} detail image">
          }
          @case ('text') {
            <p>{{ item[1] }}</p>
          }
        }
      </div>
    }
  </div>
}